.half-width img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}
.half-width h1 {
  text-align: center;
  margin-top: -4%;
  margin-bottom: 3%;
}
.half-width h2 {
  text-align: center;
  margin-top: -2%;
  margin-bottom: 3%;
}
.table-name {
  width: 100%;
  border-collapse: collapse;
}
.table-name td {
  text-align: left;
  border: 2px solid#ddd;
  padding: 20px;
}
.table-name th {
  background-color: aqua;
  padding: 10px;
  border: 2px solid#ddd;
  text-align: left;
}
.table-name tr:nth-child(even) {
  background-color: #d6eeee;
}
.table-name tr {
  padding: 15px;
}
